@font-face {
  font-family: "DejaVu";
  src: url("fonts/DejaVuSans-webfont.eot");
  src: url("fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/DejaVuSans-webfont.woff2") format("woff2"),
    url("fonts/DejaVuSans-webfont.woff") format("woff"),
    url("fonts/DejaVuSans-webfont.ttf") format("truetype"),
    url("fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal;
}
